<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adnan__.yo___" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My Application</name>
    <description>
        My second app
    </description>
<icon src="logo.jpg">
    <author email="needa__@gmail.com" href="http://adnan360.com">
        FPE
    </author>
    <access origin="*" />
</widget>